
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>ViewData data is = @ViewData["Var1"]</p>
<p>ViewBag data is = @ViewBag.Var2</p>
<p>TempData data is = @TempData["Var3"]</p>

@*<ul>
    @{ 
        foreach (string i in (string[])TempData["GamesArray"])
        {
            <li>@i</li>
        }
    }
</ul>*@