
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_EmployeesList")
<br />
@{ 
    Html.RenderPartial("_EmployeesList");
}


@Html.Partial("_LoginPartialView")
<br />
@{ 
    Html.RenderPartial("_LoginPartialView");
}
