
@{
    ViewBag.Title = "Index";
}

<nav>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "ActionLink")</li>
        <li>@Html.ActionLink("About", "About", "ActionLink")</li>
        <li>@Html.ActionLink("Contact", "Contact", "ActionLink")</li>
    </ul>
</nav>

<h2>Index</h2>

<h4>This is Index Page.</h4>


