
@{
    ViewBag.Title = "Error2";
}

<h2>Error Page 2</h2>

<h3 class="alert alert-danger text-danger">Error occuring while processing request !</h3>

<h3 class="alert alert-danger text-danger">Opps something went wrong </h3>

