
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Go to About page.", "About", "HTMLActionLinkAndUrlAction")
<br />
<br />
<a href="@Url.Action("About", "HTMLActionLinkAndUrlAction")">Go to About page</a>

